<section data-ng-controller="JobsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Job</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">

                    <label class="control-label" for="bpj_no">bpj_no</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.bpj_no" id="bpj_no" class="form-control" placeholder="bpj_no" required>
                    </div>

                    <label class="control-label" for="bpe_no">bpe_no</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.bpe_no" id="bpe_no" class="form-control" placeholder="bpe_no" required>
                    </div>

                    <label class="control-label" for="start_dt">วันที่นำรถมาจอด start_dt {{ job.start_dt | date: 'dd-MM-yyyy' }}</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.start_dt" id="start_dt" class="form-control" value="{{ job.start_dt | date: 'dd-MM-yyyy' }}" placeholder="start_dt" required>
                    </div>

                    <label class="control-label" for="retrieve_dt">วันรับรถ retrieve_dt {{ job.retrieve_dt | date: 'dd-MM-yyyy' }}</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.retrieve_dt" id="retrieve_dt" class="form-control" value="{{ job.retrieve_dt | date: 'dd-MM-yyyy' }}" placeholder="retrieve_dt" required>
                    </div>

                    <label class="control-label" for="sa_id">sa_id</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.sa_id" id="sa_id" class="form-control" placeholder="sa_id" required>
                    </div>

                    <label class="control-label" for="name_plate">name_plate</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.name_plate" id="name_plate" class="form-control" placeholder="name_plate" required>
                    </div>

                    <label class="control-label" for="car_type">car_type</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.car_type" id="car_type" class="form-control" placeholder="car_type" required>
                    </div>

                    <label class="control-label" for="topserv_hr">topserv_hr</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.topserv_hr" id="topserv_hr" class="form-control" placeholder="topserv_hr" required>
                    </div>


                    <label class="control-label" for="work_type">work_type -> {{workTypeChoice[calculate_level(job.topserv_hr)].name}}</label>
                    <br />
                    <br />

                    <label class="control-label" for="backorder_parts">backorder_part</label>
                    <button type="button" ng-click="addBackOrderPartInputE()">เพิ่ม</button>

                    <div class="controls row">
                        <div class="col-md-3" ng-repeat="backorder_part in job.backorder_parts track by $index">


                            <label class="control-label" for="backorder_part.name">รายละเอียด</label>
                            <input type="text" data-ng-model="backorder_part.name" class="form-control" placeholder="รายละเอียด">               

                            <label class="control-label" for="backorder_part.station">สถานี</label>
                            <select ng-model="backorder_part.station" ng-options="factory.id as factory.name for factory in factoryChoice">
                              <option value="">-- เลือกสถานีที่ใช้ --</option>
                            </select>

                            <label class="control-label" for="backorder_part.arrival">วันที่ได้รับ</label>
                            <input type="text" data-ng-model="backorder_part.arrival" class="form-control" placeholder="วันที่">
                            <br /> <br />
                        </div>

                    </div>


                    <label class="control-label" for="tel_info">tel_info</label>
                    <div class="controls">
                        <input type="text" data-ng-model="job.tel_info" id="tel_info" class="form-control" placeholder="tel_info" required>
                    </div>


                    <label class="control-label" for="tel_details">tel_detail</label>
                    <button type="button" ng-click="addTelDetailInputE()">เพิ่ม</button>

                    <div class="controls row">
                        <div class="col-md-3" ng-repeat="tel_detail in job.tel_details track by $index">
                            <label class="control-label" for="tel_detail.tel_time">วันที่</label>
                            <input type="text" data-ng-model="tel_detail.tel_time" class="form-control">

                            <label class="control-label" for="tel_detail.tel_time">เวลา</label>
                            <input type="texttime-local" data-ng-model="tel_detail.tel_time" class="form-control">

                            <label class="control-label" for="tel_detail.tel_desc">รายละเอียด</label>
                            <input type="text" data-ng-model="tel_detail.tel_desc" class="form-control" placeholder="รายละเอียด">   
                             <br /> <br />
            
                        </div>

                    </div>



                    <label class="control-label" for="tel_details">เวลาประเมินจากหัวหน้าช่าง</label>

                    <div class="controls row">
                        <div class="col-md-1" ng-repeat="approx_hr in job.approx_hrs track by $index">
                            <label class="control-label">{{factoryChoice[approx_hr.station-1].name}}</label>
                            <input type="text" data-ng-model="approx_hr.time" class="form-control" placeholder="ชั่วโมง">               
                        </div>

                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default" ng-class="job.is_in_plan ? 'disabled' : '' ">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>