<section data-ng-controller="TechniciansController" data-ng-init="find()">
    <div class="page-header">
        <h1>Technicians</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="technician in technicians" class="list-group-item">
            <a data-ng-href="/#!/technicians/{{technician._id}}/edit">
                <h4 class="list-group-item-heading" data-ng-bind="technician.tech_fullname"></h4>
            </a>
            <ul>
                <li ng-repeat="skill in technician.tech_skills" data-ng-bind="skill.skill_id"></li>
            </ul>

        </div>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!technicians.$resolved || technicians.length">
    	No Technicians yet, why don't you <a href="/#!/technicians/create">create one</a>?
    </div>
</section>