<section data-ng-controller="TasksController">
    <div class="page-header">
        <h1>New Task</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="bpj_no">bpj_no</label>
                    <div class="controls">
                        <select ng-model="job" ng-options="job._id as job.bpj_no for job in jobs">
                          <option value="">-- เลือกจ้อบ --</option>
                        </select>
                    </div>

                    <label class="control-label" for="technician">technician</label>
                    <div class="controls">
                        <select ng-model="technician" ng-options="t._id as t.tech_fullname for t in technicians">
                          <option value="">-- เลือกช่าง --</option>
                        </select>
                    </div>

                    <label class="control-label" for="date">date</label>
                    <div class="controls">
                        <input type="date" data-ng-model="date" id="date" class="form-control" placeholder="date">
                    </div>

                    <label class="control-label" for="start_slot">start_slot</label>
                    <div class="controls">
                        <select ng-model="start_slot" ng-options="s.id as s.time for s in slot">
                          <option value="">-- เลือกเวลา --</option>
                        </select>                    
                    </div>

                    <label class="control-label" for="duration">duration</label>
                    <div class="controls">
                        <input type="text" data-ng-model="duration" id="duration" class="form-control" placeholder="duration">
                    </div>

                    <label class="control-label" for="note">note</label>
                    <div class="controls">
                        <input type="textarea" data-ng-model="note" id="note" class="form-control" placeholder="note">
                    </div>

                    <label class="control-label" for="locked">locked</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="locked" id="locked" class="form-control">
                    </div>

                    <label class="control-label" for="station">station</label>
                    <div class="controls">
                        <select ng-model="station" ng-options="factory.id as factory.name for factory in factoryChoice">
                          <option value="">-- เลือกสถานีหลัก --</option>
                        </select>
                    </div>

                    <label class="control-label" for="skill_requirements">skill_requirements</label>
                    <div class="controls">
                        <select ng-model="skill_requirements" ng-options="skill.skill_id as skill.name group by skill.factory for skill in skillChoice">
                            <option value="">-- เลือกความสามารถ --</option>
                        </select>                   
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>