<section data-ng-controller="TasksController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Task</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">

                    <label class="control-label" for="bpj_no">bpj_no</label>
                    <div class="controls">                        
                        <input type="text" data-ng-model="task.job.bpj_no" id="text" class="form-control" readonly>
                    </div>

                    <label class="control-label" for="technician">technician (เดิม: {{task.technician.tech_fullname}})</label>
                    <div class="controls">
                        <select ng-model="task.technician" ng-options="t._id as t.tech_fullname for t in technicians">
                          <option value="">-- เลือกช่าง --</option>
                        </select>
                    </div>

                    <label class="control-label" for="date">date</label>
                    <div class="controls">
                        <input type="text" data-ng-model="task.date" id="date" class="form-control" placeholder="date">
                    </div>


                    <label class="control-label" for="start_slot">start_slot</label>
                    <div class="controls">
                        <select ng-model="task.start_slot" ng-options="s.id as s.time for s in slot">
                          <option value="">-- เลือกเวลา --</option>
                        </select>                    
                    </div>
                    <label class="control-label" for="duration">duration</label>
                    <div class="controls">
                        <input type="text" data-ng-model="task.duration" id="duration" class="form-control" placeholder="duration">
                    </div>

                    <label class="control-label" for="note">note</label>
                    <div class="controls">
                        <input type="textarea" data-ng-model="task.note" id="note" class="form-control" placeholder="note">
                    </div>

                    <label class="control-label" for="locked">locked</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="task.locked" id="locked" class="form-control">
                    </div>

                    <label class="control-label" for="is_in_plan">is_in_plan</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="task.is_in_plan" id="is_in_plan" class="form-control">
                    </div>
                    <label class="control-label" for="station">station</label>
                    <div class="controls">
                        <select ng-model="task.tech_main_station" ng-options="factory.id as factory.name for factory in factoryChoice">
                          <option value="">-- เลือกสถานีหลัก --</option>
                        </select>
                    </div>


                    <label class="control-label" for="skill_level">skill_level</label>
                    <div class="controls">
                        <select ng-model="task.skill_level" ng-options="skill.id as skill.name for skill in workTypeChoice">
                          <option value="">-- เลือกระดับ --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>