<section data-ng-controller="TasksController" data-ng-init="find()">
    <div class="page-header">
        <h1>Job</h1>
    </div>

    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        BPJ No.
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        TopServ
                    </th>
                    <th>
                        Work Type
                    </th>

                    <th ng-repeat="choice in factoryChoice">
                        {{choice.name}}
                    </th>
                    <th>
                        Add to plan
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in jobs">
                    <td>{{job.bpj_no}}</td>
                    <td>{{job.start_dt | date:'dd/MM'}}</td>
                    <td>{{job.topserv_hr}}</td>
                    <td>{{workTypeChoice[job.work_level].name}}</td>
                    <td ng-repeat="h in job.approx_hrs">{{h.time}}</td>
                    <td>
                        <a ng-class="job.is_in_plan ? 'disabled' : ''" class="btn btn-primary" href="/#!/jobs/{{job._id}}/edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>

                        <a ng-if="!job.is_in_plan" class="btn-success btn" ng-click="addToPlan(job);">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                        <a  ng-if="job.is_in_plan" class="btn-warning disabled btn">
                            <i class="glyphicon glyphicon-lock"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h1>Schedule {{status}} / {{status2}}</h1>

    <div class="row">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th style="width: 20px" rowspan="2">
                        #
                    </th>
                    <th style="width: 50px" rowspan="2">
                        Date
                    </th>
                    <th style="width: 150px" rowspan="2">
                        Time
                    </th>
                    <th ng-repeat="technician in technicians" style="font-size: xx-small; width: 150px;">
                        {{technician.tech_id}} <br /xz>{{technician.tech_main_station}} / {{factoryChoice[technician.tech_main_station-1].name}}
                    </th>
                </tr>
                <tr>
                    <th ng-repeat="technician in technicians" style="font-size: xx-small; width: 100px; overflow: hidden; white-space: nowrap;">
                        {{technician.tech_fullname}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in table" ng-class="slot-{{$index%16}}">
                    <td>
                        {{$index}}
                    </td>
                    <td style="font-size: small;">
                        {{calc_date($index) | date:'dd/MM'}}
                    </td>
                    <td style="font-size: xx-small; white-space: nowrap;">
                        {{slot[$index%16].time}}
                    </td>
                    <td ng-repeat="cell in row track by $index" ng-class="cell.is_holiday ? 'danger' : '' ">
                        <a ng-if="display_cell(cell)" class="btn btn-primary" href="/#!/tasks/{{cell.task._id}}/edit">
                            {{cell.task.job.name_plate}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    
    <div class="list-group">
        <a data-ng-repeat="task in tasks" data-ng-href="#!/tasks/{{task._id}}" class="list-group-item">
			<small class="list-group-item-text">
				<span data-ng-bind="task.job.name_plate"></span>
                <span data-ng-bind="task.station"></span>
                <span data-ng-bind="factoryChoice[task.station].name"></span>

                <span data-ng-bind="task.duration"></span>
                <span data-ng-bind="slot[task.start_slot].name"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="task.job.bpj_no"></h4>
        </a>
    </div>
</section>