<section data-ng-controller="TasksController" data-ng-init="find()">

    <div class="page-header">
        <h1>Incoming Jobs (Total: {{jobs.length}}, Show first 50)</h1>
    </div>

    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        BPJ No.
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Retrieve Date
                    </th>
                    <th>
                        TopServ
                    </th>
                    <th>
                        Work Type
                    </th>

                    <th ng-repeat="choice in factoryChoice">
                        {{choice.name}}
                    </th>
                    <th>
                        Add to plan
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in jobs | orderBy:job_order_func | limitTo: 50">
                    <td>{{job.bpj_no}}</td>
                    <td>{{job.start_dt | date:'dd/MM/yyyy'}}</td>                    
                    <td>{{job.retrieve_dt | date:'dd/MM/yyyy'}}</td>

                    <td>{{job.topserv_hr}}</td>
                    <td>{{workTypeChoice[job.work_level].name}}</td>
                    <td ng-repeat="h in job.approx_hrs">{{h.time}}</td>
                    <td>
                        <a class="btn btn-primary" href="/#!/jobs/{{job._id}}/edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>

                        <a class="btn-success btn" ng-click="addToPlan(job);">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="page-header">
        <h1>Jobs in plan</h1>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        BPJ No.
                    </th>
                    <th>
                        Plate No.
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        TopServ
                    </th>
                    <th>
                        Work Type
                    </th>
                    <th>
                        Deadline
                    </th>
                    <th>
                        Complete Date
                    </th>
                    <th>
                        Late
                    </th>

                    <th ng-repeat="choice in factoryChoice">
                        {{choice.name}}
                    </th>
                    <th>
                        Change Priority
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in current_jobs">
                    <td>{{job.bpj_no}}</td>                    
                    <td>{{job.name_plate}}</td>
                    <td>{{job.start_dt | date:'dd/MM'}}</td>
                    <td>{{job.topserv_hr}}</td>
                    <td>{{workTypeChoice[job.work_level].name}}</td>
                    <td>{{job.retrieve_dt | date:'dd/MM'}}</td>                    
                    <td>{{job.complete_dt | date:'dd/MM'}}</td>

                    <td>{{calc_late(job)}}</td>
                    <td ng-repeat="h in job.approx_hrs">{{h.time}}</td>
                    <td>
                        <a class="btn-success btn" ng-click="movePriorityUp($index);">
                            <i class="glyphicon glyphicon-arrow-up"></i>
                        </a>
                        <a class="btn-warning btn" ng-click="movePriorityDown($index);">
                            <i class="glyphicon glyphicon-arrow-down"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 style="text-align: right;">รวมเวลา Late <span class="label label-default">{{totalLate()}}</span> วัน</h3>

    </div>
    
    <h1>Schedule {{status}}</h1>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-3">
            Choose current slot: ({{row_start}} ~ {{row_start+table.length-1}})
        </div>

        <div class="col-md-1">
            <div class="controls">
                <input type="textarea" data-ng-model="chosen_slot" id="chosen_slot" class="form-control" value="0" disabled>
            </div>
        </div>
        <div class="col-md-2">

            <a class="btn-success btn" ng-click="chosen_slot=chosen_slot+1">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn-warning btn" ng-click="remove_after(chosen_slot);">
                <i class="glyphicon glyphicon-eject"></i> ถอดรถออกจากแผน
            </a>
            <a class="btn-success btn" ng-click="put_in_plan();">
                <i class="glyphicon glyphicon-play"></i> จัดแผนใหม่
            </a>
        </div>
    </div>
    <div class="row jumbotron" ng-show="show_edit_freeze" style="margin-bottom: 20px;">
        <div class="col-md-2">
            <label class="control-label" for="duration">duration<br />(1 slot=30นาที)</label>
            <div class="controls">
                <input type="text" data-ng-model="selected_task.duration" id="duration" class="form-control" placeholder="duration">
            </div>
        </div>
        <div class="col-md-2">

            <label class="control-label" for="note">note</label>
            <div class="controls">
                <input type="textarea" data-ng-model="selected_task.note" id="note" class="form-control" placeholder="note">
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn-success btn" ng-click="save_edit_task();">
                <i class="glyphicon glyphicon-ok"></i> ปรับเวลาและล็อค
            </a>
            <a class="btn-danger btn" ng-click="cancel_edit_task();">
                <i class="glyphicon glyphicon-remove"></i> ยกเลิก
            </a>
        </div>
    </div>
    <div class="row jumbotron" ng-show="show_edit" style="margin-bottom: 20px;">
        <div class="col-md-2">
            <label class="control-label" for="technician">technician<br />(เดิม: {{selected_task.technician.tech_fullname}})</label>
            <div class="controls">
                <select ng-model="selected_task.tech_id" ng-options="t.tech_id as t.tech_fullname for t in selected_task.technicians">
                  <option value="">-- เลือกช่าง --</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <label class="control-label" for="start_slot">start_slot<br />(#, เริ่มได้ตั้งแต่: {{selected_task.earliest_start_time}})</label>
            <div class="controls">
                <input type="text" data-ng-model="selected_task.start_slot" id="start_slot" class="form-control" placeholder="start_slot">          
            </div>
        </div>
        <div class="col-md-2">
            <label class="control-label" for="duration">duration<br />(1 slot=30นาที)</label>
            <div class="controls">
                <input type="text" data-ng-model="selected_task.duration" id="duration" class="form-control" placeholder="duration">
            </div>
        </div>
        <div class="col-md-2">
            <label class="control-label" for="skill_level">skill_level</label>
            <div class="controls">
                <select ng-model="selected_task.skill_level" ng-options="skill.id as skill.name for skill in workTypeChoice">
                  <option value="">-- เลือกระดับ --</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">

            <label class="control-label" for="note">note</label>
            <div class="controls">
                <input type="textarea" data-ng-model="selected_task.note" id="note" class="form-control" placeholder="note">
            </div>
        </div>
        <div class="col-md-2">

            <a class="btn-danger btn" ng-if="selected_task.ref_task.locked" ng-click="unlock_task(selected_task.ref_task);">
                <i class="glyphicon glyphicon-lock"></i> ปลดล็อค
            </a>
            <a class="btn-success btn" ng-click="save_edit_task();">
                <i class="glyphicon glyphicon-ok"></i> ปรับเวลาและล็อค
            </a>
            <a class="btn-danger btn" ng-click="cancel_edit_task();">
                <i class="glyphicon glyphicon-remove"></i> ยกเลิก
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th style="width: 20px" rowspan="2">
                        #
                    </th>
                    <th style="width: 50px" rowspan="2">
                        Date
                    </th>
                    <th style="width: 150px" rowspan="2">
                        Time
                    </th>
                    <th ng-repeat="technician in technicians" style="font-size: xx-small; width: 150px;">
                        <br />{{technician.tech_main_station}}.{{factoryChoice[technician.tech_main_station-1].name}}
                    </th>
                </tr>
                <tr>
                    <th ng-repeat="technician in technicians" style="vertical-align: top; padding-bottom: 0px; font-size: xx-small; width: 100px; overflow: hidden; white-space: nowrap;">
                        {{technician.tech_fullname}}
                        <ul>
                            <li ng-repeat="skill in technician.tech_skills" 
                                data-ng-bind="get_skill_desc(skill.skill_id)"
                                ng-if="get_skill_desc(skill.skill_id).length>0"></li>
                        </ul>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in table" ng-class="
                    (chosen_slot>=$index+row_start) ? 'danger' : '' 
                    ">
                    <td>
                        {{$index+row_start}}
                    </td>
                    <td style="font-size: small;">
                        {{calc_date($index+row_start) | date:'dd/MM'}}
                    </td>
                    <td style="font-size: xx-small; white-space: nowrap;">
                        {{slot[$index%16].time}}
                    </td>
                    <td ng-repeat="cell in row track by $index" ng-class="cell.is_holiday ? 'danger' : '' ">
                        <a ng-if="display_cell(cell)" class="btn" style="color: white;"
                        ng-style="{'background-color':cell.task.job.color}"
                        ng-click="edit_task(cell.task);">
                            {{cell.task.job.name_plate}}
                            <i ng-if="!is_freeze(cell.task) && cell.task.locked" class="glyphicon glyphicon-lock"></i>
                            <i ng-if="is_freeze(cell.task)" class="glyphicon glyphicon-ban-circle"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    
    <h1>Task Status (Total: {{current_task.length}})</h1>

    <div class="list-group">
        <a data-ng-repeat="task in current_tasks" ng-click="edit_task(cell.task);" class="list-group-item" ng-class="task.start_slot<=chosen_slot ? 'list-group-item-success' : 'list-group-item-warning'">
			<small class="list-group-item-text">
				<span data-ng-bind="task.job.name_plate"></span>
                <span data-ng-bind="task.station"></span>
                <span data-ng-bind="factoryChoice[task.station].name"></span>

                <span data-ng-bind="task.duration"></span>
                <span data-ng-bind="slot[task.start_slot].name"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="task.job.bpj_no"></h4>
        </a>
    </div>
</section>